#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  background-color: #000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  height: 90vh;
  margin: 0 auto;
  gap: 64px;
}

@media (max-width: 640px) {
  main {
    flex-direction: column;
    height: 100vh;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
  color: #e6c645;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.1;
  margin: 0;
  opacity: 0.8;
}

form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 0.8em;
  font-weight: 700;
  & input {
    margin-top: 8px;
    width: 90%;
  }
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.list__students {
  background-color: #fff5bf38;
  list-style-type: none;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & span {
    cursor: pointer;
  }
  & span:hover {
    text-decoration: underline;
    color: #000;
  }
  & .iconTrash:hover {
    cursor: pointer;
    color: #e6c645;
  }
}

.button__back {
  position: absolute;
  font-weight: 700;
  top: 10px;
  left: 10px;
}
.button__back:hover {
  color: #e6c645;
  cursor: pointer;
}

.card {
  background: #a0986d;
  width: 300px;
  height: 500px;
  padding: 10px;
  border-radius: 20px;
}

.card__header {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__content--text {
  color: #000;
}

.list__payments {
  background-color: #fff5bf38;
  list-style-type: none;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
